{% extends 'layout.html' %}

{% block title %} CodeDoesGood - Mission {% endblock %}

{% block header %}
<header>
    <div class="container">
        <div class="intro-text compact">
            <div class="intro-lead-in">
              <strong>Our mission</strong> is to <strong>harness</strong> the <em>cognitive surplus</em> of the tech community towards <strong>building solutions</strong> to real problems in the <strong>world</strong>.
            </div>
        </div>
        <div class="intro-img-credits">Photo by <a href="https://unsplash.com/@bragekorsnes" target="_blank">@bragekorsnes</a></div>
    </div>
</header>
{% endblock %}

{% block content %}

<section id="code-of-conduct">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <h2>Mission Statement</h2>
              <p>Our mission is to harness the cognitive surplus of the tech community towards building solutions to real problems in the world.</p>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Guiding Principles</h2>
                <ol>
                    <li>Use our technical skills <strong>To Do Good</strong>.</li>
                    <li>Provide an avenue for new developers to be mentored.</li>
                    <li>Involvement is fun, rewarding, purposeful and easy.</li>
                    <li>Lower financial barriers for non-profits seeking software solutions.</li>
                    <li>Advocate purposeful autonomy through mastery.</li>
                    <li>Encourage collective decision making.</li>
                    <li>Be guided by socially progressive ideals.</li>
                    <li>Be a volunteer-driven organization.</li>
                    <li>Strict procedures ensure efficient use of volunteer time.</li>
                    <li>Promote open source policies.</li>
                </ol>

                <h3>Our Beliefs</h3>
                <p>We believe every human on this planet should be treated with dignity and respect and should be extended the same basic rights as each other no matter their race, nationality, sexual orientation, gender, ability/disability, or cognitive level. We reserve the right to limit the organizations we work with for any reason but especially if they are involved in any actions, projects or promotion of values and beliefs we deem anti-humanitarian, regressive, or harmful to the environment. We will additionally not provide services for political or religious based projects and reserve the right to not work with a political or religious group even for non-political and non-religious projects.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>How We Will Spend Money</h2>
                <p>As a non profit our operating budget will be public knowledge however in addition to this, we <em>promote open source policies</em> and as such we will be as upfront as possible about where our money is spent. As we are in the start up phase we do not yet know how we will share this information but when the time comes to publish this information we will disclose as much as possible without breaking confidentiality or privacy agreements. Additionally we will always be open and upfront when asked.</p>
                <p>Every developer and designer in CodeDoesGood is volunteering their time and except in extremely rare circumstances, will not be paid. A situation where someone may be paid would be if we were unable to find a volunteer with a specialized skill that was required for a project and there was no way around needing that skill. Another example could be a project that has an extremely tight deadline (for example something related to a natural disaster) where we need developers to put in full time effort.</p>
                <p>In addition to this each developer and designer will be donating the use of their own equipment.</p>
                <p>The money we collect from administrative fees, labour fees, design fees, and architectural fees will be spent on any number of the following (and possibly things not listed):</p>
                <ul>
                    <li>Third party software required to run our huge team of volunteers</li>
                    <li>Server hosting costs</li>
                    <li>Equipment such as any test devices required which are not already personally owned, a computer for local volunteers who may not own a computer, and any other equipment which may be required</li>
                    <li>A salary for an administrative employee when we grow large enough to require one</li>
                    <li>Meeting spaces and/or office space when we grow large enough to require a dedicated office space</li>
                    <li>Travel expenses should one of our representatives need to travel to present to a funder, for an award, to compete in a grant competition, to speak at a conference, or to meet with a client</li>
                    <li>Honorarium payments to artists. While we are all volunteers one of our guiding principles is to <em>Be guided by socially progressive ideals</em>. We recognize that artists are constantly expected to work for free and as such we have decided that we will offer an honorarium to any visual or performing artist we work with (note: for the purpose of this honorarium a project designer does not count as an artist)</li>
                    <li>Marketing</li>
                    <li>Branding (we are happy with our current brand but this could be a potential spend in the future)</li>
                    <li>Hosting events such as charity hack-a-thons</li>
                    <li>Thanking exceptional volunteers with CodeDoesGood swag</li>
                    <li>Potentially offering a small thank you to all CodeDoesGood volunteers like a sticker for their laptop</li>
                    <li>Donating to causes that really need our help and we deem important</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
