{% extends 'layout.html' %}

{% block title %} CodeDoesGood {% endblock %}

{% block content %}
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Team</h2>
                <h3 class="section-subheading text-muted">
                  We will never run out of a need for volunteers. The more volunteers we have, the more solutions we can develop.<br>
                  We need developers of all skill levels and all platforms, mentors, designers, marketing, human resources, administrative... <br>
                  basically no matter what you do if you want to join us we will find a place for you.
                  <p></p>
                  <p><a href="https://github.com/CodeDoesGood/org/wiki">Join Us!</a></p>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/abbey.jpg" class="img-responsive img-circle" alt="">
                    <h4>Abbey Jackson</h4>
                    <p class="text-muted">Project Management, Operations, Dev Hatchery</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/earthabbey" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/abbeyjackson" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/earthabbey/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/shahin.jpg" class="img-responsive img-circle" alt="">
                    <h4>Shahin Zangenehpour</h4>
                    <p class="text-muted">Business/Financial, UX, Design</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/98chimp" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/shahinz/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/massimo.jpg" class="img-responsive img-circle" alt="">
                    <h4>Massimo Savino</h4>
                    <p class="text-muted">Media, Marketing, Client Relations</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/northtwilight" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/northtwilight" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/massimosavino/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/renato.jpg" class="img-responsive img-circle" alt="">
                    <h4>Renato Camilio</h4>
                    <p class="text-muted">Technology, Marketing, Dev Hatchery</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/recamilio" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/renatomcamilio" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/renatomcamilio/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
