{% extends 'layout.html' %} {% block title %} CodeDoesGood - About {% endblock %} {% block content %}

<!-- About Section  -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Who Are We</h2>

                <p>We are a volunteer run group of (mostly) developers who are committed to using our technical skills to help
                    others through our mission:</p>

                <blockquote>
                    <p>To harness the cognitive surplus of the tech community towards building solutions to real problems in
                        the world.</p>
                </blockquote>

                <p>Read about the
                    <a href="https://github.com/CodeDoesGood/org/wiki/2.-Dev-Hatchery" target="_blank">Dev Hatchery</a>, the fantastic training ground which allows us to accomplish some amazing things!</p>

                <h3>Join Us</h3>

                <p>We will never run out of a need for volunteers. The more volunteers we have, the more solutions we can develop.</p>
                <p>We need developers of all skill levels and all platforms, mentors, designers, marketing, human resources,
                    administrative...basically no matter what you do if you want to join us we will find a place for you.</p>

                <a href="https://github.com/CodeDoesGood/org/wiki/2.-Volunteering" target="_blank">Click here for more info</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Our Story</h2>

                <p>CodeDoesGood was founded by 4 developers in Vancouver, BC Canada. Four skin tones, four races, four nationalities,
                    four languages, four very different life experiences.</p>
                <p>Our compiled life experiences mean at least one of us has first-hand experience of poverty, mental health
                    issues, wildlife rescue, racism, international schooling, community arts, natural disasters, landing
                    as a refugee, education, suicide, multi-ethnic families, fleeing violence, protesting, learning a new
                    language, physical rehabilitation, immigration, ecological issues...</p>
                <p>We have each seen and understood the world in individual ways and we each have different motivating values
                    but deep down we do share one common goal:
                    <strong>To Do Good</strong>
                </p>
                <p>We saw two great problems, one in the world at large and one in the tech community.</p>
                <p>The first problem we saw was that the high cost of software was eliminating technological solutions for volunteer-run
                    organizations and those with low operating budgets. The people that run these groups are so driven they
                    find a way to make a penny stretch a mile, but without technical volunteers to tap into, those pennies
                    just can't stretch that far when it comes to software.</p>
                <p>The second problem we saw was that the tech community at large is decrying the lack of experienced developers
                    while an abundance of new developers are left flapping around like fish out of water with no guidance
                    and no clear way to make the leap to become that experienced developer that everyone wants.</p>

                <h3>Synchronicity</h3>
                <p>It seemed a rather obvious connection. Together these two problems are no longer problems but are instead
                    each other's solutions. Rather than focussing on how to solve one, or the other, we realized that we
                    need only to build a framework for these two issues to intersect and great things would happen!</p>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Team</h2>
                <h3 class="section-subheading text-muted">
                    We will never run out of a need for volunteers. The more volunteers we have, the more solutions we can develop.
                    <br> We need developers of all skill levels and all platforms, mentors, designers, marketing, human resources,
                    administrative...
                    <br> basically no matter what you do if you want to join us we will find a place for you.
                    <p></p>
                    <p>
                        <a href="https://github.com/CodeDoesGood/org/wiki">Join Us!</a>
                    </p>
                </h3>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/abbey.jpg" class="img-responsive img-circle" alt="">
                    <h4>Abbey Jackson</h4>
                    <p class="text-muted">Project Management, Operations, Dev Hatchery</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/earthabbey" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/abbeyjackson" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/earthabbey/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div> -->
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/shahin.jpg" class="img-responsive img-circle" alt="">
                    <h4>Shahin Zangenehpour</h4>
                    <p class="text-muted">CEO</p>
                    <p>Chairman of the Board who also handles any legal and/or financial matters for Code Does Good.</p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://twitter.com/docteurzed" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/98chimp" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/shahinz/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/massimo.jpg" class="img-responsive img-circle" alt="">
                    <h4>Massimo Savino</h4>
                    <p class="text-muted">President</p>
                    <p>Responsible for external outreach (though not exclusively) and the daily direction of CDG.</p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://twitter.com/northtwilight" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/northtwilight" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/massimosavino/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/michael.jpg" class="img-responsive img-circle" alt="">
                    <h4>Michael Campbell</h4>
                    <p class="text-muted">Mobile and Operations Director</p>
                    <p>Oversees training, staffing, and project management matters for our organization.</p>
                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li> -->
                        <li>
                            <a href="https://github.com/abbeyjackson" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <!-- <li><a href="" target="_blank"><i class="fa fa-linkedin"></i></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/rachel.jpg" class="img-responsive img-circle" alt="">
                    <h4>Rachel Abrams</h4>
                    <p class="text-muted">Design Director</p>
                    <p>Manages the design aspects for all our projects as well as oversees any external branding matters.</p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://twitter.com/@leikela37" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Leikela" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/rbabrams/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/stephen.jpg" class="img-responsive img-circle" alt="">
                    <h4>Stephen Lineker-Miller</h4>
                    <p class="text-muted">Infrastructure Director</p>
                    <p>Manages the back-end development of our projects, which includes any in-house CRM operations.</p>
                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li> -->
                        <li>
                            <a href="https://github.com/tehstun" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/stephen-lineker-miller/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %} {# // Timeline version
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">We are a volunteer run group of (mostly) developers who are committed to using our technical skills to help
                    others through our mission:
                    <strong>To harness the cognitive surplus of the tech community towards building solutions to real problems in
                        the world</strong>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <!-- <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015</h4>
                                <h4 class="subheading">#palm-dates</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">It all started in 2015, when Abbey, Shahin, Massimo, and Renato started meeting regularly
                                    (bi-weekly) to hangout and drink Palm Bay! We then named our event Palm Dates.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <!-- <img class="img-circle img-responsive" src="img/about/4.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2016</h4>
                                <h4 class="subheading">A Future Project...</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We talked for a year about how we wanted to do a project together, all the while also talking
                                    about world issues. What if we could work on projects together while solving real problems
                                    in the world?</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <!-- <img class="img-circle img-responsive" src="img/about/4.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2017</h4>
                                <h4 class="subheading">CodeDoesGood: Our First Cause!</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Our first project was a list of lawyers for refugees and families and sponsors of refugees
                                    detained at airports as part of the US Government's executive order (also known as "The
                                    Muslim Ban"). One Sunday one of us approached the group with the idea and within 3 days
                                    a list was published and the names were being populated.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
#}