<!DOCTYPE html>
<html lang="en">

  <head>
    {% include 'partials/metatags.html' %}

    <title>{% block title %}{% endblock %}</title>

    {% include 'partials/styles.html' %}
  </head>

  <body>

    {% include 'partials/navigation.html' %}

    <!-- Header -->
    {% block header %}
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">
                  <strong>Our mission</strong> is to <strong>harness</strong> the <em>cognitive surplus</em> of the tech community towards <strong>building solutions</strong> to real problems in the <strong>world</strong>.
                </div>
            </div>
            <div class="intro-img-credits">Photo by <a href="https://unsplash.com/@bragekorsnes" target="_blank">@bragekorsnes</a></div>
        </div>
    </header>
    {% endblock %}

    {% block content %}{% endblock %}

    {% include 'partials/footer.html' %}

    {% include 'partials/scripts.html' %}
  </body>
</html>
